	{% extends "layout.html" %}
	{% block content %}






    <h1>A brief history on the products we sell!</h1>
    <h2>The Eraser</h2>
    <p> An eraser is an object used to remove pencil markings. It is known as “eraser” in the United States and Canada and as “rubber” in the UK, India, Ireland, South Africa, Australia and New Zealand. Erasers are made in different shapes, sizes and colors and from various materials. Cheaper ones are made of synthetic soy-based gum or synthetic rubber while those of higher quality can be made from vinyl, plastic, or gum-like materials.

	People tried to correct mistakes they made while writing even before eraser was invented. To erase marks from the paper, they used tablets of rubber or wax. To remove ink from parchment or papyrus they used bits of rough stone like sandstone or pumice. In Japan, they used soft bread. It was not until 1770 that we found out that a natural rubber made from plants can be used as an eraser. That year, Edward Nairne, an English engineer, picked up a piece of rubber instead of breadcrumbs and discovered that rubber can erase pencil markings. He started selling rubber (until then known as “gum elastic” or “caoutchouc”). Name rubber came from “rubbing” and it was given to the object somewhere between 1770 and 1778. But this kind of eraser didn’t work too well: it crumbled when used and in time perished, it was too sensitive to weather conditions and, it smelled bad.</p>
	<h2>The Pencil</h2>
	<p>Graphite came into widespread use following the discovery of a large graphite deposit in Borrowdale, England in 1564. Appreciated for leaving a darker mark than lead, the mineral proved so soft and brittle that it required a holder. Originally, graphite sticks were wrapped in string. Later, the graphite was inserted into hollowed-out wooden sticks and, thus, the wood-cased pencil was born!

	Nuremberg, Germany was the birthplace of the first mass-produced pencils in 1662. Spurred by Faber-Castell (established in 1761), Lyra, Steadtler and other companies, an active pencil industry developed throughout the 19th century industrial revolution.</p>
	<h2>The Scissors</h2>
	<p>The earliest known scissors appeared in Mesopotamia 3,000 to 4,000 years ago. These were of the 'spring scissor' type comprising two bronze blades connected at the handles by a thin, flexible strip of curved bronze which served to hold the blades in alignment, to allow them to be squeezed together, and to pull them apart when released.

	Spring scissors continued to be used in Europe until the 16th century. However, pivoted scissors of bronze or iron, in which the blades were pivoted at a point between the tips and the handles, the direct ancestor of modern scissors, were invented by the Romans around 100 AD.[2] They entered common use in not only ancient Rome, but also China, Japan, and Korea, and the idea is still used in almost all modern scissors.
	</p>
	<h4 style="text-align: right;">*** hint ***</h4>
	<h4 style="text-align: right;">Why not click visit our store?</h4>







	{% endblock content %}