{% extends "layout.html" %}
{% block content %}
<div style="text-align: center;">
<h1>Shopping Cart</h1>

<table style="border:1px solid black;" class="" align="center">
  <tr><th>Product</th><th>Quantity</th><th>Price</th><th>Total</th></tr>

  {% for key, value in display_cart.items() %}
  <tr>
    <td>{{ value["title"] }}</td>
    <td>{{ value["total_quantity"] }}</td>
    <td>£{{ value["price"] }}</td>
    <td>£{{ (value["total_quantity"] * value["price"]) }}</td>

    <td>
      <form action="{{ url_for('delete_item', item_id=key|int) }}" method="POST">
        <input class="" type="submit" value="Delete">
      </form>
    </td>
  </tr>
  {% endfor %}

</table>
<h3>Total: £{{ total }} </h3>
  <button>
    <a class="" href="/checkout">Checkout</a>
  </button>

</div>


{% endblock content %}