{% extends "layout.html" %}
{% block content %}


<div style="height: 100px;">
<h1>Pay Here!</h1>

<form method="POST" action="">
	<div align="center">
		<div class="">
			{{ form.street.label }}
			{{ form.street }}
		</div>

		<div class="">
			{{ form.city.label }}
			{{ form.city }}
		</div>

		<div class="">
			{{ form.card_name.label }}
			{{ form.card_name }}
		</div>

		<div class="">
			{{ form.card_no.label }}
			{{ form.card_no }}
			{% for error in form.card_no.errors %}
				<span style="color: red;">Insert the 16 digit (XXXX-XXXX-XXXX-XXXX) card number.</span>
			{% endfor %}
		</div>

		<div class="">
			{{ form.card_exp_date.label }}
			{{ form.card_exp_date }}
			{% for error in form.card_exp_date.errors %}
				<span style="color: red;">Insert the 4 digit (MMYY) expiry date.</span>
			{% endfor %}
		</div>

		<div class="">
			{{ form.card_sec.label }}
			{{ form.card_sec }}
			{% for error in form.card_sec.errors %}
				<span style="color: red;">Insert the 3 digit (XXX) security number.</span>
			{% endfor %}
		</div>
		<div class="">
			{{ form.submit }}
		</div>
	</div>






</form>


</div>
{% endblock content %}