{% extends "layout.html" %}
	{% block content %}


	<h3>See below for a list of current products</h3>


	<table align="center" border="1px solid black">
			<tr>
				<th>Product Image</th>
				<th>Product Name</th>
				<th>Product Description</th>
				<th>Price</th>
				<th>Purchase / Info</th>
			</tr>
			{% for item in items %}
			<tr>
				<th><img class="image" style="height: 200px; width: 200px;" src="{{ url_for('static', filename='img/' + item.image_file) }}"></th>
				<th><p>{{ item.item_name }}</p></th>
				<th><p>{{ item.description }}</p></th>
				<th><p>Price: £{{ item.price }}</p></th>
				<th><button><a class="" href="/add_to_cart/{{item.id}}">Add to cart!</a></button><br/><button><a href="{{ url_for('item', item_id=item.id) }}">Info</a></button></th>
			</tr>
			{% endfor %}
	</table>
	




	{% endblock content %}