{% extends "layout.html" %}
{% block content %}

<br/>
<div align="center">

	<img style="height: 300px; width: 300px;"src="{{ url_for('static', filename='img/' + item.image_file) }}">
	<h2>{{ item.item_name }}</h2>
	<p>{{ item.description_extended}}</p>
	<p>Price: {{ item.price }}</p>
	<button><a class="" href="/add_to_cart/{{item.id}}">Add to cart!</a></button>

</div>
{% endblock content %}