<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<style>

body {
  font-family:"Comic Sans MS", sans-serif;
  background-color: #ccffff;
}

h1 {
  text-align: center;
  font-family:sans-serif;
  color:#170033;
}

a {
  text-decoration:none;
  color:#170033;
  /*color:#104e77;*/
}

a:hover {
  /*color:#77b6e2;*/
  color:#ffe2ff;
}

#nav {
    padding:10px 50px;
    font-size:18px;
    overflow:auto;
    background-color: #00e6e6;
}

#header {
	padding:10px;
    font-size:36px;
    font-family:"Comic Sans MS", sans-serif;
    overflow:auto;
    background-color: #00e6e6;
}

h3 {
	text-align: center;
	text-decoration: underline;

}


</style>
	<title>Stationary Store</title>
</head>



<body>

	<h1 id="header">Stationary Direct!</h1>


	<div id="nav">
		||&nbsp&nbsp<a href="{{ url_for('home') }}" class="navb">Home</a>&nbsp&nbsp||&nbsp
		<a href="{{ url_for('about') }}" class="navb">About</a>&nbsp&nbsp||&nbsp
		<a href="{{ url_for('checkout') }}" class="navb">Checkout</a>&nbsp&nbsp||&nbsp
		<div style="float:right;">
			{% if current_user.is_authenticated %}
				Hello, {{ current_user.username }}!
				<a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>&nbsp
				{% else %}
				Hello, Guest! &nbsp <a href="{{ url_for('login') }}">Login&nbsp;</a>
				or <a href="{{ url_for('register') }}">Register</a>&nbsp
				{% endif %}
		</div>
	</div>




	<div>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul class=flashes>
			{% for message in messages %}
				<li>{{ message }}</li>
			{% endfor %}
			</ul>
		{% endif %}
		{% endwith %}
	</div>




	<div id="content">
		{% block content %}
		{% endblock %}
	</div>





</body>
</html>
