{% extends "layout.html" %}
{% block content %}
<div style ="height: 100px;">
</div>
<div align="center">
<form method="POST" action="">
  {{ form.csrf_token }}
  
  <div class="">
    {{ form.email.label }} {{ form.email}}
    {% for error in form.email.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </div>
  <div class="">
    {{ form.password.label }} {{ form.password}}
    {% for error in form.password.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </div>
  <div class="">
    {{ form.submit() }}
  </div>
</div>
</form>
{% endblock content %}