{% extends "layout.html" %}
{% block content %}
<div style ="height: 100px;">
</div>
<div align="center">
<form method="POST" action="">
	{{ form.csrf_token }}
	<div class="">
		{{ form.username.label }}: {{ form.username}}
	    {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div class="">
        {{ form.email.label }}: {{ form.email}}
        {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div class="">
        {{ form.password.label }}: {{ form.password}}
        {% for error in form.password.errors %}
        <span style="color: green;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div class="">
        {{ form.confirm_password.label}}: {{ form.confirm_password}}
        {% for error in form.confirm_password.errors %}
        <span style="color: green;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div class="">
    {{ form.submit }}
    </div>
</form>
</div>



{% endblock content %}